body {
	font-family: sans;
	width: 750px;
	margin: 0 auto;
}

.buttons {
	text-align: right;
	margin: 15px 0;
}

#selector {
	display: grid;
	grid-template-columns: 200px auto;
}

#order {
	background-color: #ddd;
	border: 1px solid #666;
	border-radius: 5px;
	padding: 10px;
}
