body {
	font-family: sans;
	max-width: 750px;
	margin: 0 auto;
	padding: 0 5px;
}

header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
}

header > * {
	display: inline;
	margin-right: 10px;
}

.buttons {
	text-align: right;
	margin: 15px 0;
}

#selector {
	display: grid;
	grid-template-columns: 180px auto;
}

#order {
	background-color: #ddd;
	border: 1px solid #666;
	border-radius: 5px;
	padding: 10px;
}
