body {
	font-family: sans;
	max-width: 750px;
	margin: 0 auto;
	padding: 0 5px;
}

header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
}

header > * {
	display: inline;
	margin-right: 10px;
}

.buttons {
	text-align: right;
	margin: 15px 0;
}

#info {
	text-align: right;
	font-size: smaller;
	font-style: italic;
	margin: 15px 0;
}

#amount {
	width: 35px;
}

#selector {
	display: grid;
	grid-template-columns: 180px auto;
}

pre {
	background-color: #ddd;
	border: 1px solid #666;
	border-radius: 5px;
	padding: 10px;
	overflow: hidden;
	text-overflow: ellipsis;
}

footer {
	margin-top: 35px;
	font-size: smaller;
	text-align: center;
}

footer a {
	text-decoration: none;
	color: grey;
}
